@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .scrollbar-stable {
    scrollbar-gutter: stable;
  }

  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(240, 240, 240, 0.1);
  }
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(240, 240, 240, 0.2);
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(240, 240, 240, 0.4);
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    background: rgba(240, 240, 240, 0.9);
  }
}
@layer base {
  * {
    @apply scrollbar;
  }
  html {
    overflow-x: hidden;
  }
  body {
    background-color: black;
  }
}
